extends layout_login
block content

    div.form-page-container
        img(src="/images/logos/GPE transforming education logo.png", alt="")
        div.form-outer
            .logo-container
                img(src="/images/logos/LOGO GPE CONFERENCE_EN_TITLE_BLU.png")
            div.form-inner#home-container
                h5(style="margin:0 auto;display: table") #{pageText.titleHeader} 
                  br 
                  span #{pageText.subHeader}
                
                p #{pageText.bodyTextOne}
                p #{pageText.bodyTextTwo}
                p #{pageText.bodyTextThree}
                p #{pageText.bodyTextFour}

                form(method="post" action='/selectRegPath')
                    div(style="color:red;font-size:12px;margin-bottom:5px;")=msg
                        
                        div.row
                            div.col-lg-6
                                div(class="form-group" )
                                    select(name="title" class="form-group padding-left" required)
                                            option(value="virtual") virtual
                                            option(value="person") person
                                    input(type="hidden" name="_csrf" value='eoyaZ65I-OxEPbYr6zW7_aGkng0F1GbjFy10')                                                                                       
                        div.row
                            div.col-lg-12
                                div(class="form-group")
                                    input(type="submit" value=`${pageText.submitButtonText}` class="btn btn-default register-button" )  
                                                                               

            
            h5 #{pageText.secondHeaderText}&nbsp
                a(href=`/login/${language}` ) Click Here


block customscript
  script
    | (window.constants || (window.constants = {}));
    | window.constants.BASE_URL='
    =siteBaseUrl
    | ';
    | window.constants.CURRENT_SCREEN = 'playlist';
    | window.constants.CURRENT_CHANNEL_ID='
    =channelId
    | ';
    | window.constants.CURRENT_PLAYLIST_ID='
    =playlistId
    | ';
    | window.constants.CURRENT_VIDEO_ID='
    =videoId
    | ';
