extends layout_login
block content

    div.form-page-container
        img(src="/images/logos/GPE transforming education logo.png", alt="")
        div.form-outer
            .logo-container
                img(src="/images/logos/LOGO GPE CONFERENCE_EN_TITLE_BLU.png")
            div.form-inner()
                //div(class="form-group language-choice-reset" )
                //    select(onchange="location = this.value;" class="language-change-field" style="width:80%")
                //        option() #{reset.chooseYourLanguageText}
                //        option(value="/reset-password/arabic") #{reset.languageChoice.arabic}
                //        option(value="/reset-password/chinese") #{reset.languageChoice.mandarin}
                //        option(value="/reset-password/english") #{reset.languageChoice.english}
                //        option(value="/reset-password/french") #{reset.languageChoice.french}
                //        option(value="/reset-password/russian") #{reset.languageChoice.russian}
                //        option(value="/reset-password/spanish") #{reset.languageChoice.spanish}
                h4 #{reset.formHeader}
                form(method="post" action=`/reset-password/${language}`)
                     div(class="form-group")
                        input(type="email" class="form-control" id="reset-email-field" placeholder=`${reset.emailFieldPlaceholder}` name="email" required )
                        input(type="hidden" name="_csrf" value=csrfToken)
                     div(style="color:red;font-size:12px;margin-bottom:30px;text-align:center") #{msg}
                        //div(class="form-group")
                        //    select( class="form-control" id="formGroupExampleInput4" name="location"  required)
                        //        option() Location 1
                        //        option() Location 2
                        //        option() Location 3
                        //div(class="form-group")
                        //    input(type="password" class="form-control" id="formGroupExampleInput5" placeholder="Password" name="password" required)
                     div(class="form-group")
                        input(type="submit" value=`${reset.buttonText}` class="btn btn-default")
            h4 #{reset.secondHeaderText}&nbsp
                a(href=`/register/${language}`) #{reset.anchor}
            //h3 Already Registered?&nbsp
            //    a(href="/login" ) Click here
            //h5 <a style="color:#F66028" href="https://streamstudio-backend-staging.s3.eu-west-2.amazonaws.com/carnstone/documents/Anti-Trust+Statement+May+2020.docx.pdf" target="_blank" download>By accessing this portal you are confirming that you will observe PSCI’s anti-trust policy and guidelines click here to view</a>
